@charset "ISO-8859-1";

body {
	height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: rgb(2,0,34);
    background: linear-gradient(137deg, #062f8c 20%, #47b66d 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}

input {
    margin-bottom: 1rem;
    padding: 10px 10px;
    display: flex;
    border-radius: 7px;
    width: 100%;
    border-style: none;
}

.button {
    text-align: center;
    padding: 10px 10px;
    background-color: #3e7f6e;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    width: 100%;
}


.button:hover {
    text-align: center;
    padding: 10px 10px;
    background-color: #29777c;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.borderCard {
    max-width: 400px;
    padding: 1rem;
    position: relative;
    background: rgb(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.card{
    background: rgb(0, 0, 0, 0.6);
    color: #fff;
    padding: 5rem;
    border-radius: 10px;
}

.loginContent{
    align-items: center;
    margin-left: -1.3rem;
}